* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  
    background: #111;
}
main{
    height: 100vh;
    width: 100vw;
    padding: 50px 30px;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}
section .left{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
section .left .top{
    display: flex;
    justify-content: center;
    gap: 35px;
}
section .left .top input{
    display: none;
}
.btn{
    padding: 7px 25px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 15px;
    color: whitesmoke;
}
.right .presetcont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.right .presetcont .btn{
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}
.btn:active{
    scale: 0.95;
}
section .left .top label:active{
    scale: 0.95;
}
section .left .top button.reset{
    background: red;
}
section .left .top button.download{
    background: green;
}
section .left .top label{
    background: whitesmoke;
    padding: 7px 20px;
    border-radius: 2px;
    font-weight: 700;
}
section .left .bot{
    background: #222;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
section .left .bot .center{
    display: flex;
    flex-direction: column;
    color: rgba(245, 245, 245, 0.474);
    justify-content: center;
    align-items: center;
}
section .left .bot .center i{
    font-size: 200px;
}
section .right{
    background: #222;
    width: 35%;
    height: 100%;
    padding: 20px;
}
section .right .top{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
section .right .top h1{
    font-size: 25px;
    color: whitesmoke;
}
section .right .top .filters{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .right .top .filters .filter input::-webkit-slider-runnable-track{
  height: 2px;

}
section .right .top .filters .filter input::-webkit-slider-thumb{
  transform: translateY(-50%);
  cursor: pointer;
}
section .right .top .filters input{
    width: 90%;
}
section .right .top .filters .filter h6{
    color: whitesmoke;
    font-size: 15px;
}
section .right .top .filters .filter{
    width: 100%;
}

#canvas{
    max-width: 100%;
    max-height: 90%;
    display: none;
}



@media(max-width:900px){
    section{
        flex-direction: column;
    }
    section .right ,section .left{
        width: 100%;
    }
    section .left .bot{
    }
}

@media(max-width:450px){
    section .top{
        flex-direction: column;
        gap: 1px;
    }
    section .left .bot{
       height: 400px;
    }
}